<head>
  <script>
function reloadPage()
  {
  location.reload();
  }
</script>
</head>
<body>
  <div id="wrapper">
  <%= render 'layouts/sidebar' %>
  <div id="container">
    <section class="section" id="section4">
      <div class="container-fluid" style="overflow-x:auto;">
        <div class="row-fluid">
          <div class="span4">
            <h2>Users</h2>
            <h5>Download: <%= link_to "Excel", users_path(format: "xls"), {:style=>'color:#151515;'} %></h5>
            <h5>Total Attending: <%= @users.sum('rsvp_count') %></h5>
            <h5><a class="btn-inverse" onclick="reloadPage()">View as Datatable<span><i class="fa fa-table"></i></a></h5>
          </div><!-- /span3 -->
        </div><!-- /row-fluid -->   
        <div class="span8">
          <table id="users">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Registered</th>
                <th>Last_Login</th>
                <th>Role</th>
                <th>Attending</th>
                <th>RSVP</th>
                <th>Change Role</th>
                <th>Delete User</th>
                <th>Re-invite</th>
              </tr>
            </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr>
              <td align="center"><%= user.full_name %></td>
              <td align="center"><%= user.email %></td>
              <td align="center"><%= user.created_at.to_date %></td>
              <td align="center"><%= user.last_sign_in_at.to_s %></td>
              <td align="center"><%= user.roles.join(', ').titleize unless user.roles.first.nil? %></td>
              <td align="center"><%= user.rsvp_count %></td>
              <% if user.rsvp_confirmation == 0 %>
                <td align="center">Declined</td>
                <% elsif user.rsvp_confirmation == 1 %>
                <td align="center">Attending</td>
                <% else %>
                <td align="center">Undecided</td>
              <% end %>
              <td align="right"><%= simple_form_for user, :url => user_path(user), :html => {:method => :put, :class => 'form-vertical' } do |f| %>
                    <%= f.input :roles, :collection => AppConfig.roles, :as => :check_boxes, :label_method => lambda {|r| r.titleize}, :label => false, :item_wrapper_class => 'inline', html: {style: 'align: left;'}, checked: user.roles %>
                    <%= f.submit "Change Role", :class => "btn-inverse" %>
                    <% end %></td>
              <td align="center"><%= link_to('<i class="fa fa-minus-circle" style="color: red;"></i>'.html_safe, user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete) unless user == current_user %></td>
              <td align="center"><%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
                      <%= devise_error_messages! %>
                    <% resource.class.invite_key_fields.each do |field| -%>
                      <%= f.input field, :input_html => { :value => user.email }, :as => :hidden %>
                    <% end -%>
                    <%= link_to_submit('<i class="fa fa-reply" style="color: blue;"></i>'.html_safe) unless user == current_user %>        
                  <% end %>
              </td>
            </tr>
            <% end %>
              </tbody>
          </table>
        </div><!-- /span -->
      </div><!-- /container -->
    </section>
    </div> 
  </div><!-- /wrapper -->
</body>