<body>
  <div id="wrapper">
    <div id="sidebar">
      <a class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <!-- <div id="logo"> <a href="/"><img src="img/logo.svg" alt="logo" /></a> </div> -->
      <nav id="nav" class="navigation" role="navigation">
        <ul class="unstyled">
        <li class="active" data-section="1"><i class="icon-home"></i><span>Home</span></li>
        <li data-section="2" class=""><i class="icon-envelope"></i><span>RSVP</span></li>
        <li data-section="3" class="">&nbsp;<i class="icon-info"></i><span>&nbsp;&nbsp;Info</span></li>
        <li data-section="4" class=""><i class="icon-instagram"></i><span>Social</span></li>
        <li data-section="5" class=""><i class="icon-gift"></i><span>Gifts</span></li>
        <li data-section="6" class=""><i class="icon-group"></i><span>Party</span></li>
        <li data-section="7" class=""><i class="icon-sort-by-attributes"></i><span>Timeline</span></li>
      </nav><!-- /nav -->
      <% if current_user.has_role? :admin %>
        <nav id="nav" role="naviagtion">
          <ul class="unstyled">
            <li><%= link_to'<i class="icon-magic"></i><span>Admin</span>'.html_safe, users_path %></li>
            <li id="add-user"><a href="#"><i class="icon-plus"></i><span>Add User</span></a></li>
          </ul>
        </nav>
      <% end %>
    </div><!-- /sidebar -->
    <div id="container">      
      <section class="section" id="section1" data-section="1">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="alt-image img-circle thumb">
              <img src="http://i.imgur.com/eC16cwf.jpg" alt="Grace Ann and Brad" class="img-circle blur">
            </div>
            <div class="span4 intro">
              <hgroup>
                <h1>Welcome!</h1>
                <h3 style="font-size: 19pt">Sooter-Cink Wedding</br>January 11, 2014</h3>
              </hgroup>
            <div class="btn-group">
              <a class="btn-inverse" href="#" data-toggle="dropdown"><i class="icon-circle-arrow-down"></i><%= current_user.first_name %></a></a>
                <ul class="dropdown-menu">
                  <li id="edit"><a href="#"><i class="icon-fixed-width icon-pencil"></i>&nbsp;Edit Info</a></li>
                  <li class="divider"></li>
                  <li class""><%= link_to '<i class="icon-user"></i><span>&nbsp;&nbsp;&nbsp;Sign Out</span>'.html_safe, destroy_user_session_path, :method=>'delete' %></li>
                </ul><!-- /dropddown-menu -->
            </div><!-- /btn-group -->  
            </div><!-- /span4 -->
          </div><!-- /row-fluid -->
        </div><!-- /container-fluid --> 
      </section><!-- /section -->
      <%= render 'layouts/edit_account' %>
      <%= render 'layouts/faq' %>
      <% if current_user.has_role? :admin %>
        <%= render 'layouts/add_user' %>
      <% end %>
      <section class="section" id="section5" data-section="2">
        <div class="container-fluid">
          <div class="row-fluid title">
            <div class="span4">
              <h2>RSVP</h2>
            </div><!-- /span4 -->
          </div><!-- /row-fluid -->
          <div class="row-fluid content">
            <div class="span4">
              <h4 class="intro">Can you make it?</h4>
              <p>Take the time to RSVP and let us know if we can can count on you to celebrate our special day!</p>
              <div class="row-fluid alt">
                <h5>Date:</h5>
                <span>January 11, 2014</span>
              </div><!-- /row -->
              <div class="row-fluid alt">
                <h5>Time:</h5>
                <span>6:00 PM</span>
              </div><!-- /row -->
              <div class="row-fluid alt">
                <h5>City:</h5>
                <span>&nbsp; Birmingham, Alabama</span>
              </div><!-- /row -->
              <div class="row-fluid alt">
                <img src="http://i.imgur.com/HSXYhsU.png" width="45px" height="45px"></img>
                <span>&nbsp;<a href="assets/Sooter-Cink-Wedding.ics" download="Sooter-Cink Wedding.ics">Add to calendar</a></span>
              </div><!-- /row -->
            </div><!-- /span4 -->
            <div class="span8">              
              <% if current_user.rsvp_not_confirmed? %>
                <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
                <div class="form-group">
                  <div class="col-lg-10">
                    <div class="btn switch switch-three">
                      <input id="rsvp_confirmation_unsure" name="user[rsvp_confirmation]" value="2" type="radio" checked="">
                      <label for="rsvp_confirmation_unsure" onclick="" class="label-rsvp">Undecided</label>
                      <input id="rsvp_confirmation_attending" name="user[rsvp_confirmation]" value="1" type="radio">                        <label for="rsvp_confirmation_attending" onclick="" class="label-rsvp">Attending</label>
                      <input id="rsvp_confirmation_not_attending" name="user[rsvp_confirmation]" value="0" type="radio">
                      <label for="rsvp_confirmation_not_attending" onclick="" class="label-rsvp">Not Attending</label>
                      <span class="slide-button btn btn-success"></span>
                    </div><!-- /btn-switch -->
                    </br>
                    <div class="btn switch switch-four" id="number_attending" style="display:none;">      
                      <input id="rsvp_count_one" name="user[rsvp_count]" value="1" type="radio" checked="">
                      <label for="rsvp_count_one" onclick="" class="label-rsvp"><i class="icon-male"></i></label>
                      <input id="rsvp_count_two" name="user[rsvp_count]" value="2" type="radio">
                      <label for="rsvp_count_two" onclick="" class="label-rsvp"><i class="icon-male"></i><i class="icon-female"></i></label>
                      <input id="rsvp_count_three" name="user[rsvp_count]" value="3" type="radio">
                      <label for="rsvp_count_three" onclick="" class="label-rsvp"><i class="icon-male"></i><i class="icon-female"></i><i class="icon-male"></i></label>
                      <input id="rsvp_count_four" name="user[rsvp_count]" value="4" type="radio">
                      <label for="rsvp_count_four" onclick="" class="label-rsvp"><i class="icon-male"></i><i class="icon-female"></i><i class="icon-male"></i><i class="icon-female"></i></label>
                      <span class="slide-button btn btn-success"></span>
                    </div><!-- /btn-switch -->
                  </div><!-- /col -->
                  <p id="small-text" style="text-align:center">* Per your addressed invitation, please indicate the number of guests that will be attending by December 21<sup style="font-size: 5pt;">st</sup><p>
                  <%= f.button :submit, 'Update', :class => 'btn-inverse-faq pull-right' %>
                </div><!-- /form-group -->
                <% end %><!-- /simple-form -->
              <% end %>
              <% if current_user.rsvp_confirmation == 0 %>
                <h5><%= current_user.first_name %>, you have regretfully declined and we will miss celebrating with you!</h5>
              <% end %>
              <% if current_user.rsvp_confirmation == 1 %> 
                <div class"span12">
                  <h5><%= current_user.first_name %>, we are thrilled that your party of <%= current_user.rsvp_count %> will be celebrating with us!</h5>
                </div>                
                <div class="span12 visible-desktop">
                </br>
                  <div class="control-group">
                    <div class ="flip">
                      <div class="card"> 
                        <div class="face front"></div>  
                        <div class="popin face back"></div> 
                      </div><!-- /card -->
                    </div><!-- /flip -->
                  </div><!-- /control-group -->
                </div><!-- /span12 -->
              </div><!-- /span8 -->
              <script>
                $(document).ready(function(){
                  $('.flip').click(function(){
                  $(this).find('.card').addClass('flipped').mouseleave(function(){
                  $(this).removeClass('flipped');
                    });
                  return false;
                  });
                });
              </script>
              <% end %><!-- /attending -->
            </div><!-- /row-fluid -->
          </div><!-- /container-fluid -->     
        </section>
        <section class="section" id="section4" data-section="3">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span4">
                <h2>Info</h2>
              </div><!-- /span4 -->
            </div><!-- /row-fluid -->
            <div class="row-fluid content">
            </br>
              <div class="popin">
                <div id="map"></div>
              </div>
            </div><!-- /row-fluid -->
            <div class="row-fluid content">
              <div class="span4">
                <ul class="article-tags">
                  <% if current_user.has_role? :moderator %>
                    <li data-blog="rehearsal" class="current"><i class="icon-circle-arrow-right"></i>Rehearsal Dinner</li>
                    <li data-blog="ceremony" class=""><i class="icon-circle-arrow-right"></i>Wedding</li>
                    <li data-blog="reception" class=""><i class="icon-circle-arrow-right"></i>Reception</li>
                    <li data-blog="hotels" class=""><i class="icon-circle-arrow-right"></i>Hotels</li>
                  <% else %>
                    <li data-blog="ceremony" class="current"><i class="icon-circle-arrow-right"></i>Wedding</li>
                    <li data-blog="reception" class=""><i class="icon-circle-arrow-right"></i>Reception</li>
                    <li data-blog="hotels" class=""><i class="icon-circle-arrow-right"></i>Hotels</li>
                  <% end %>      
                </ul>
              </div><!-- /span4 -->
              <% if current_user.has_role? :moderator %>
              <div class="span8 slide current" data-blog="rehearsal" style="display: block; ">
                <div class="row-fluid">
                  <div class="span6 expand">
                    <h4>Location</h4>
                    <p>The Rehearsal Dinner will take place at The Fish Market Restaurant in downtown Birmingham.</p>
                    <p>The Fish Market Restaurant<br>612 22nd Street South<br>Birmingham, AL 35233<br>(205) 322-3330</p>
                    <div class="pull-right read-more">
                      <a href="http://thefishmarket.net" rel="external">Visit &nbsp;<i class="icon-share-alt"></i></a>
                    </div>
                  </div><!-- /span6 -->
                  <div class="span6 visible-desktop">
                    <IMG class="displayed" src="http://i.imgur.com/ZzbvZA6.png" alt="The Fish Market | Birmingham"></IMG>
                  </div><!-- /span6 -->
                </div><!-- /row-fluid -->
              </div><!-- /span8 -->
              <div class="span8 slide" data-blog="ceremony" style="display: none; ">
                <div class="row-fluid">
                  <div class="span6 expand">
                    <h4>Wedding</h4>
                    <p>The Wedding Ceremony will take place at Covenant Presbyterian Church in <br>Homewood.</p>      
                    <p>Covenant Presbyterian Church<br> 65 Old Montgomery Hwy<br>Birmingham, AL 35209<br>(205) 871-7002</p>
                    <div class="pull-right read-more">
                      <a href="http://www.covpres.com" rel="external">Visit &nbsp;<i class="icon-share-alt"></i></a>
                    </div>
                  </div><!-- /span6 -->
                  <div class="span6 visible-desktop">
                    <IMG class="displayed" src="http://www.covenantpalmbay.org/Images/Content/1000000183/1000166022.png" alt="Covenant Presbyterian | Birmingham"></IMG>
                  </div><!-- /span6 -->
                </div><!-- /row-fluid -->
              </div><!-- /span8 -->
              <div class="span8 slide" data-blog="reception" style="display: none; ">
                <div class="row-fluid">
                  <div class="span6 expand">
                    <h4>Reception</h4>
                    <p>The Wedding Reception will take place at The Wine Loft in downtown <br> Birmingham.</p>
                    <p>The Wine Loft<br>2200 1st Ave N<br>Birmingham, AL 35203<br>(205) 323-8228</p>
                    <div class="pull-right read-more">
                      <a href="http://wineloftbham.com" rel="external">Visit &nbsp;<i class="icon-share-alt"></i></a>
                    </div>
                  </div><!-- /span6 -->
                  <div class="span6 visible-desktop">
                    <IMG class="displayed" src="http://imgur.com/LShiFgS.jpg" alt="The Wine Loft | Birmingham"></IMG> 
                  </div><!-- /span6 -->
                </div><!-- /row-fluid -->
              </div><!-- /span8 -->
              <div class="span8 slide" data-blog="hotels" style="display: none; ">
                <div class="row-fluid">
                  <div class="span6 expand">
                    <h4>Courtyard Mariott</h4>
                    <p>The Courtyard Mariott is loacated off of Highway 31 and is a short drive to Covenant Presbyterian.</p>
                    <p>Sooter-Cink Wedding Price: $89/night</p>
                    <IMG class="displayed" src="http://i0.wp.com/www.logoeps.com/wp-content/uploads/2013/01/courtyard-marriott-logo-vector.png?resize=400%2C400" width="100px" height="100px" alt="Courtyard Mariott"></IMG> 
                    <div class="pull-right read-more">
                      <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Cink/Sooter%20Wedding%5EBHMHW%60CSWCSWA%7CCSWCSWB%6089.00%60USD%60false%601/9/14%601/13/14%6012/20/13&app=resvlink&stop_mobi=yes" rel="external">Book It &nbsp;<i class="icon-tags"></i></a>
                    </div>
                  </div><!-- /span6 -->
                  <div class="span6 visible-desktop">
                    <h4>Aloft Soho Square</h4>
                    <p>Aloft is located in downtown Homewood and is a short drive to Covenant Presbyterian and to Downotown Birmingham</p>
                    <p>Sooter-Cink Wedding Price: $119/night</p>
                  </br>
                    <IMG class="displayed" src="http://i.imgur.com/3yeO6Lv.png" width="100px" height="100px" alt="Aloft Soho Square"></IMG> 
                    <div class="pull-right read-more">
                    </br>
                      <a href="https://www.starwoodmeeting.com/Book/sootercink" rel="external">Book It &nbsp;<i class="icon-tags"></i></a>
                    </div><!--/pull-right -->
                  </div><!-- /span6 -->
                </div><!-- /row-fluid -->
              </div><!-- /span8 -->
              <% else %>
              <div class="span8 slide current" data-blog="ceremony" style="display: block; ">
                <div class="row-fluid">
                  <div class="span6 expand">
                    <h4>Wedding</h4>
                    <p>The Wedding Ceremony will take place at Covenant Presbyterian Church in <br>Homewood.</p>
                    <p>Covenant Presbyterian Church<br> 65 Old Montgomery Hwy<br>Birmingham, AL 35209<br>(205) 871-7002</p>
                    <div class="pull-right read-more">
                      <a href="http://www.covpres.com" rel="external">Visit &nbsp;<i class="icon-share-alt"></i></a>
                    </div><!--/pull-right -->
                  </div><!-- /span6 -->
                  <div class="span6 visible-desktop">
                    <IMG class="displayed" src="http://www.covenantpalmbay.org/Images/Content/1000000183/1000166022.png" alt="Covenant Presbyterian | Birmingham"></IMG>
                  </div><!-- /span6 -->
                </div><!-- /row-fluid -->
              </div><!-- /span8 -->              
              <div class="span8 slide" data-blog="reception" style="display: none; ">
                <div class="row-fluid">
                  <div class="span6 expand">
                    <h4>Reception</h4>
                    <p>The Wedding Reception will take place at The Wine Loft in downtown <br> Birmingham.</p>
                    <p>The Wine Loft<br>2200 1st Ave N<br>Birmingham, AL 35203<br>(205) 323-8228</p>
                    <div class="pull-right read-more">
                      <a href="http://wineloftbham.com" rel="external">Visit &nbsp;<i class="icon-share-alt"></i></a>
                    </div>
                  </div><!-- /span6 -->
                  <div class="span6 visible-desktop">
                    <IMG class="displayed" src="http://imgur.com/LShiFgS.jpg" alt="The Wine Loft | Birmingham"></IMG> 
                  </div><!-- /span6 -->
                </div><!-- /row-fluid -->
              </div><!-- /span8 -->          
              <div class="span8 slide" data-blog="hotels" style="display: none; ">
                <div class="row-fluid">
                  <div class="span6 expand">
                    <h4>Courtyard Mariott</h4>
                    <p>The Courtyard Mariott is loacated off of Highway 31 and is a short drive to Covenant Presbyterian.</p>
                    <p>Sooter-Cink Wedding Price: $89/night</p>
                    <IMG class="displayed" src="http://i0.wp.com/www.logoeps.com/wp-content/uploads/2013/01/courtyard-marriott-logo-vector.png?resize=400%2C400" width="100px" height="100px" alt="Courtyard Mariott"></IMG> 
                    <div class="pull-right read-more">
                      <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Cink/Sooter%20Wedding%5EBHMHW%60CSWCSWA%7CCSWCSWB%6089.00%60USD%60false%601/9/14%601/13/14%6012/20/13&app=resvlink&stop_mobi=yes" rel="external">Book It &nbsp;<i class="icon-tags"></i></a>
                    </div><!--/pull-right -->
                  </div><!-- /span6 -->
                  <div class="span6 visible-desktop">
                    <h4>Aloft Soho Square</h4>
                    <p>Aloft is located in downtown Homewood and is a short drive to Covenant Presbyterian and to Downotown Birmingham</p>
                    <p>Sooter-Cink Wedding Price: $119/night</p>
                    </br>
                    <IMG class="displayed" src="http://i.imgur.com/3yeO6Lv.png" width="100px" height="100px" alt="Aloft Soho Square"></IMG> 
                    <div class="pull-right read-more">
                    </br>
                      <a href="https://www.starwoodmeeting.com/Book/sootercink" rel="external">Book It &nbsp;<i class="icon-tags"></i></a>
                    </div>
                  </div><!-- /span6 -->
                </div><!-- /row-fluid -->
              </div><!-- /span8 -->
              <% end %>
            </div><!--/row-fluid-content -->
          </div><!-- /container -->
        </section> 
        <section class="section" id="section5" data-section="4">
          <div class="container-fluid">
            <div class="row-fluid title">
              <div class="span4">
                <h2>Social</h2>
              </div><!-- /span4 -->
            </div><!-- /row-fluid -->
            <div class="row-fluid content" id="insta">
              <div class="span8">
                <div class="row-fluid alt">
                  <h5><i class="icon-instagram icon-3x"></i></h5>
                  <span>#sootercinkwedding</span>
                </div>
                </br></br>
                  <div class="row-fluid">
                    <div class="popin-instaslider" id="instafeed"></div>
                   <div class="controls">
                    <a class="carousel-control left" id="prev-instafeed">&lsaquo;</a>
                    <a class="carousel-control right" id="next-instafeed">&rsaquo;</a>
                    <!-- Grab My Latest Instagram Photo -->
                    <script type="text/javascript">
                      feed = new Instafeed({
                         get: 'tagged',
                              clientId: '791b688830374d95a18d08422d8c096e',
                              tagName: 'sootercinkwedding',
                              sortby: 'random',
                              resolution: 'standard_resolution',
                              links: 'false',
                              limit: '20',
                              template: '<div id="caption" class="visible-desktop">{{caption}} <br>{{likes}} likes <i class="icon-heart"></i></div><div id="bg"><img src="{{image}}"/></div>',
                        mock: true,
                        custom: {
                          images: [],
                          currentImage: 0,
                          showImage: function () {
                            var result, image;
                            image = this.options.custom.images[this.options.custom.currentImage];
                            result = this._makeTemplate(this.options.template, {
                              model: image,
                              id: image.id,
                              link: image.link,
                              image: image.images[this.options.resolution].url,
                              caption: this._getObjectProperty(image, 'caption.text'),
                              likes: image.likes.count,
                              comments: image.comments.count,
                              location: this._getObjectProperty(image, 'location.name')
                            });
                            $("#instafeed").html(result);
                          }
                        },
                        success: function (data) {
                          this.options.custom.images = data.data; 
                          this.options.custom.showImage.call(this);
                        }
                      });
                      feed.run();

                      $("#next-instafeed").click(function () {
                        var length, current;
                        current = feed.options.custom.currentImage;
                        length = feed.options.custom.images.length;
                        if (current < length - 1) {
                          feed.options.custom.currentImage++;
                          feed.options.custom.showImage.call(feed);
                        }
                      });

                      $("#prev-instafeed").click(function () {
                        var length, current;
                        current = feed.options.custom.currentImage;
                        length = feed.options.custom.images.length;
                        if (current > 0) {
                          feed.options.custom.currentImage--
                          feed.options.custom.showImage.call(feed);
                        }
                      });
                    </script>
                  </div><!-- /controls -->
                </div><!-- /row-fluid -->
              </div><!-- /span8 -->
            </div><!-- /row -->
          </div><!-- /container -->
        </section>
        <section class="section" id="section4" data-section="5" >
          <div class="container-fluid">
            <div class="row-fluid title">
              <div class="span4">
                <h2>Gifts</h2> 
              </div><!-- /span9 -->
            </div><!-- /row-fluid -->
            <div class="row-fluid desc">
              <div class="span8">
                <p>Are you considering showing your love and support of us during this special occasion through a wedding gift? We've got all the pots and pans we need! Between college (Grace Ann) and high school (Brad), we've been blessed with the opportunities to go on mission trips to Central America. Please defer all of your kindness to our friends in Guatemala and Mexico on behalf of us!</p>
                <button class="btn-inverse-no-data" href="#donate-form">Give a gift</button>
                <div id="donate-form" style="display:none;" class="simple-form">
                </br>
                <div id="amount-form" style="display:block;">
                  <h3>Step 1.</h3>
                    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :remote => true, :html => { :method => :put, :class => 'form-vertical', :id => 'donation', :format => :json }) do |f| %>
                      <%= f.input :donation_amount, :id => 'donate-amount', :input_html => { :data => :donation_amount} %>
                      <p id="small-text">* All donations will be split evenly between One Way Ministries and the Mobile Archdiocesan Mexico Mission Trip<p>
                      <%= f.button :submit, 'Next', :class => 'btn-inverse', :id =>"next-button" %>
                    <% end %>
                </div>
                <div id="submit-payment-prep" style="display:none;">
                  <h3>Step 2.</h3>
                  <p>Donation Amount:</p><p class="result" style="font-weight: bold"></p>
                  <button class="btn-inverse-no-data" id="back-button">Go Back</button>
                  <button class="btn-inverse-no-data" id="customButton">Pay With Card<span><i class="icon-credit-card"></i></span></button>
                  <%= form_tag charges_path do %>
                    <script>
                    $(document).ready(function(){
                    $('#next-button').click(function(){
                      $("form#donation").bind("ajax:success", function( xhr, data, status) {     
                      var serial = ($(this).serialize().split("=").pop());
                      var amounts = $(".result").html(serial).prepend( "$" )
                      ;
                      });
                    });
                    $('#customButton').click(function(){
                        var amount = parseInt($(".result").html().substring(1), 10);
                          var token = function(res){
                          var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                          $('form').append($input).submit();
                          };
                          StripeCheckout.open({
                          key:         "<%= Rails.configuration.stripe[:publishable_key] %>",
                          address:     true,
                          amount:      amount*100,
                          currency:    'usd',
                          name:        'Sooter-Cink',
                          description: 'Wedding Gift',
                          panelLabel:  'Donate:',
                          token:       token,
                          image:       "http://i.imgur.com/0sSQC2X.jpg" 
                          });
                          return false;
                      });
                    });
                    </script>
                  <% end %>
                </div><!-- /submit-payment-prep -->
              </div><!-- /donate-form -->
            </div><!-- /span8 -->
          </div><!-- /row-fluid -->
          <div class="row-fluid content">
            <div class="span4">
              <ul class="ss-mission-photo">
                <li data-blog="grace-ann" class="ss-circle-photo ss-circle-mission-grace-ann"></li>
                <li data-blog="brad" class="ss-circle-photo ss-circle-mission-brad"></li>                        
              </ul>
            </div><!-- /span4 -->  
            <div class="span8 slide current" data-blog="grace-ann">
              <div class="row-fluid">
                <div class="span6 expand">
                  <h4>Guatemala</h4>
                  <div class="DivToScroll">
                    <div class="DivWithScroll">My pastor often reminds my church that giving 2% of our year to make the gospel known in another context radically transforms the other 98% of our lives in our own context. Even a year and a half later, I am still finding this to be true. God made His provision, sovereignty, and grace very evident in every part of the trip I took with One Way Ministries to Guatemala. We spent our mornings alongside the faith family of New Jerusalem, Guatemala, the local church, and in grade schools leading vacation bible school for children whose homes were filled with  impoverty, domestic violence, and the like. In the afternoons, we traveled to the rural city of Sacajvela alongside women from New Jerusalem into the homes of families who had been estranged from the church, needed encouragement in the midst of tragedy, or were simply ready to hear the gospel. The people that I grew to know both on my team and in Guatemala greatly moved me and served as a catalyst for Brad and I deciding to ask you to shift your generosity towards One Way and The Mobile Archdiocesan Mexico Mission Trip. Your financial giving will support childcare to enable single parents to work, medical needs, and even basic needs to a Guatemalan community that would appreciate your sacrifice more than we could ever appreciate a gift. To learn more about One Way, visit <a href="http://www.1wayministries.org" rel="external">http://www.1wayministries.org</a> or contact me. “May God be gracious to us and bless usand make his face shine upon us, that your ways may be known on the earth, your salvation among all nations.” –Psalm 67:1-2</div>
                  </div>
                </div><!-- /span6 -->
                <div class="span6 visible-desktop">
                  <h4></h4>
                  <div class="popin-lean">
                    <div id="slideshow">
                      <img src="assets/Guatemala1.jpeg" alt="" class="active" />
                      <img src="assets/Guatemala2.jpeg" alt="" />
                      <img src="assets/Guatemala3.jpeg" alt="" />
                      <img src="assets/Guatemala4.jpeg" alt="" />
                    </div>
                  </div>
                </div><!-- /span6 -->                  
              </div><!-- /row-fluid -->
            </div><!-- /span8 -->  
            <div class="span8 slide" data-blog="brad">
              <div class="row-fluid">
                <div class="span6 expand">
                  <h4>Mexico</h4>
                  <div class="DivToScroll">
                    <div class="DivWithScroll"><div>"Not all of us can do great things. But we can do small things with great love.” - Bl. Mother Teresa</div></br><div>While poverty manifests itself in many ways that often surpass the archetypal view of being without material wealth, it was not until I traveled to the Yukutan that I truly understood how frivolous money is to happiness. The indigenous Mayan people of Akil, Mexico recognize Christ provides fulfillment in life that the world cannot. Adequate healthcare, modern tools, and formal education are among the myriad amenities absent in this society.</div></br><div>Annually, the Mobile Archdiocese sends about a dozen high school students to work, pray, and live with the community in Akil for three weeks during the summer. Through the support of friends and family, I was blessed to have made this trip two consecutive years in 2006 & 2007. Early mornings and late evenings pouring concrete, re-roofing homes, and landscaping construction sites with machetes comprised many days. However, the stringent physical labor was offset by aiding mission-sponsored medical clinics, distributing clothes and shoes to the public, and simply playing with the children outside of Santa Ines Church at the center of town.</div></br><div>As the Mexican government has become more dangerous for visitors, unfortunately our trip has recently become irregular. Each year, the opportunity to travel south is evaluated by Father Dane (Gulf Shores, AL) and Padre Santos (Yukutan, Mexico). Grace Ann and I ask you foremost for your prayers that our respective trips will continue to change lives in the United States and Central America and especially for the individuals who touched our lives in New Jerusalem, Guatemala and Akil, Mexico. Inspired by the words of Mother Theresa, any contribution, however small or large, would delight us more than anything for ourselves!</div></div>
                  </div>
                </div><!-- /span6 -->
                <div class="span6 visible-desktop">
                  <h4></h4>
                  <div class="popin-lean">
                    <div id="slideshow2">
                      <img src="assets/Mexico1.jpg" alt="" class="active" />
                      <img src="assets/Mexico2.jpg" alt="" />
                      <img src="assets/Mexico3.jpg" alt="" />
                      <img src="assets/Mexico4.jpg" alt="" />
                      <img src="assets/Mexico5.jpg" alt="" />
                      <img src="assets/Mexico6.jpg" alt="" />
                      <img src="assets/Mexico7.jpg" alt="" />
                      <img src="assets/Mexico8.jpg" alt="" />
                    </div>
                  </div>
                </div><!-- /span6 -->                  
              </div><!-- /row-fluid -->
            </div><!-- /span8 -->
          </div><!-- /row-fluid content-->
        </div><!-- /container -->
      </section>
      <section class="section" id="section5" data-section="6">
        <div class="container-fluid">
          <div class="row-fluid title">
            <div class="span4">
              <h2>Wedding Party</h2>
            </div><!-- /span4 -->
          </div><!-- /row-fluid -->
          <div class="row-fluid content">
            <div id="myCarousel" class="carousel slide">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="item" id="Rachael">
                    <img src="assets/Rachael.jpg" />
                    <div class="row-fluid content">
                      <h4 align="center">Rachael Benson</h4>
                      <h5 align="center">Bridesmaid</h4>
                      <h6 align="center">Sister of the Groom | ΑΧΩ Intramural Bench Warmer</h4>
                    </div>
                </div>
                <div class="item" id="Jesslyn">
                    <img src="assets/Jesslyn.jpg" />
                    <div class="row-fluid content">
                      <h4 align="center">Jesslynn Faught</h4>
                      <h5 align="center">Bridesmaid</h4>
                      <h6 align="center">Cousin of the Bride | Wise's Psychedelic Date</h4>
                    </div>
                </div>
                <div class="item" id="Lydia">
                    <img src="assets/Lydia.jpg" />
                    <div class="row-fluid content">
                      <h4 align="center">Lydia Sooter</h4>
                      <h5 align="center">Maid of Honor</h4>
                      <h6 align="center">Sister of the Bride | Self-acclaimed Wine Connoisseur Following 5 Days in Napa, CA</h4>
                    </div>
                </div>
                <div class="item" id="Hannah">
                    <img src="assets/Hannah.jpg" />
                    <div class="row-fluid content">
                      <h4 align="center">Hannah Dow</h4>
                      <h5 align="center">Matron of Honor</h4>
                      <h6 align="center">Sister of the Bride | Publicist, Lifelong Friend, and Confidant to the Duchess of Cambridge</h4>
                     
                    </div>
                </div>
                <div class="active item" id="Grace Ann">
                    <img src="assets/GraceAnn.jpg" />
                    <div class="row-fluid content">
                      <h4 align="center">Grace Ann Sooter</h4>
                      <h5 align="center">The Bride!</h4>
                      <h6 align="center">Thought Braces Were Still Cool at 22</h4>
                    </div>
                </div>
                <div class="item" id="Brad">
                    <img src="assets/Brad.jpg" />
                    <div class="row-fluid content">
                      <h4 align="center">Brad Cink</h4>
                      <h5 align="center">The Groom!</h4>
                      <h6 align="center">Cell Phone Number Commonly Mistaken for 1-800-APPLE-CARE</h4>
                    </div>
                </div>
                <div class="item" id="Austin">
                    <img src="http://imgur.com/7OeRty1.jpg" />
                    <div class="row-fluid content">
                      <h4 align="center">Austin McMillan</h4>
                      <h5 align="center">Best Man</h4>
                      <h6 align="center">Pledge Brother of the Groom | 2A AHSAA Golf State Champ and Cattle Venture Capitalist</h4>
                    </div>
                </div>
                <div class="item" id="Mark">
                    <img src="http://imgur.com/lhz8zmQ.jpg" />
                    <div class="row-fluid content">
                      <h4 align="center">Mark Lawrence</h4>
                      <h5 align="center">Groomsman</h4>
                      <h6 align="center">High School Friend of the Groom | Oldest College Freshman and Lead Singer of the Ol' Dirty Pandas</h4>
                    </div>
                </div>
                <div class="item" id="Richard">
                    <img src="http://i.imgur.com/3ZIRZan.jpg" />
                    <div class="row-fluid content">
                      <h4 align="center">Richard Martin</h4>
                      <h5 align="center">Groomsman</h4>
                      <h6 align="center">High School Friend of the Groom | Most Likely to Take His Shirt Off and Ask, "Where's the gun show?"</h4>
                    </div>
                </div>
                <div class="item" id="Luke">
                    <img src="assets/Luke.jpg" />
                    <div class="row-fluid content">
                      <h4 align="center">Luke Jensen</h4>
                      <h5 align="center">Groomsman</h4>
                      <h6 align="center">College Roommate & Pledge Brother of the Groom | CEO of www.grizzlife.com <a href="https://twitter.com/grizzlife" rel="external">(@grizzlife)</a></h4>
                    </div>
                </div>
                <div class="item" id="Wise">
                    <img src="http://imgur.com/RMFJu49.jpg" />
                    <div class="row-fluid content">
                      <h4 align="center">Tyler Wise</h4>
                      <h5 align="center">Groomsman</h4>
                      <h6 align="center">Pledge Brother of the Groom | Tony Award Winner for the High School Rendition of 'Grease'</h4>
                    </div>
                </div>
              </div><!-- carousel-inner -->
              <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>            
              <!-- LINKED NAV -->
              <!-- <ol class="carousel-linked-nav pagination">
                <li class="active"><a href="#1">1</a></li>
                <li><a href="#2">2</a></li>
                <li><a href="#3">3</a></li>
                <li><a href="#4">4</a></li>
                <li><a href="#5">5</a></li>
              </ol> -->
            </div>
        </div><!-- /container -->
      </section>
      <%=render"layouts/timeline"%>
    </div><!-- /container -->
  </div><!-- /wrapper -->
  <!-- JAVASCRIPTS -->
  <script src="https://checkout.stripe.com/v2/checkout.js"></script>
  <script>
    var map;
    $(document).ready(function(){
      map = new GMaps({
        el: '#map',
        lat: +33.500501,
        lng: -86.795726,
        zoom: 12
      });
      map.addMarker({
        lat: +33.463740,
        lng: -86.781617,
        title: 'Covenant Presbyterian Church',
        details: {
          database_id: 42,
          author: 'HPNeo'
        },
        mouseover: function(e){
          if(console.log)
            console.log(e);
        }
      });
      map.addMarker({
        lat: +33.516084,
        lng: -86.802764,
        title: 'Wine Loft Birmingham',
        details: {
          database_id: 42,
          author: 'HPNeo'
        },
        mouseover: function(e){
          if(console.log)
            console.log(e);
        }
      });
      map.addMarker({
        lat: +33.507962,
        lng: -86.798129,
        title: 'The Fish Market',
        details: {
          database_id: 42,
          author: 'HPNeo'
        },
        mouseover: function(e){
          if(console.log)
            console.log(e);
        }
      });
      
      map.addMarker({
        lat: +33.469594,
        lng: -86.775169,
        title: 'Courtyard Birmingham',
        details: {
          database_id: 42,
          author: 'HPNeo'
        },
        mouseover: function(e){
          if(console.log)
            console.log(e);
        }
      });

      map.addMarker({
        lat: +33.479295,
        lng: -86.789224,
        title: 'Aloft Soho Square',
        details: {
          database_id: 42,
          author: 'HPNeo'
        },
        mouseover: function(e){
          if(console.log)
            console.log(e);
        }
      });

      // invoke the carousel
$('#myCarousel').carousel({
  interval: 3000
});

/* SLIDE ON CLICK */ 

$('.carousel-linked-nav > li > a').click(function() {

    // grab href, remove pound sign, convert to number
    var item = Number($(this).attr('href').substring(1));

    // slide to number -1 (account for zero indexing)
    $('#myCarousel').carousel(item - 1);

    // remove current active class
    $('.carousel-linked-nav .active').removeClass('active');

    // add active class to just clicked on item
    $(this).parent().addClass('active');

    // don't follow the link
    return false;
});

/* AUTOPLAY NAV HIGHLIGHT */

// bind 'slid' function
$('#myCarousel').bind('slid', function() {

    // remove active class
    $('.carousel-linked-nav .active').removeClass('active');

    // get index of currently active item
    var idx = $('#myCarousel .item.active').index();

    // select currently active item and add active class
    $('.carousel-linked-nav li:eq(' + idx + ')').addClass('active');

});

      // Slide Toggles
    
    $('#section3 .button').on('click', function () {
      
      var section = $(this).parent();
    
    section.toggle();
      section.siblings(".slide").slideToggle('2000', "easeInQuart");
  });
  
  $('#section3 .read-more').on('click', function () {
      
      var section = $(this).parent();
    
    section.toggle();
      section.siblings(".slide").slideToggle('2000', "easeInQuart");
  });
  
  $('#section4 .article-tags li').on('click', function () {
      
      var section = $(this).parents('.span4');
      var category = $(this).attr('data-blog');
      var articles = section.siblings();
      
      // Change Tab BG's
      $(this).siblings('.current').removeClass('current');
      $(this).addClass('current');
    
    // Hide/Show other articles
      section.siblings('.current').removeClass('current').hide();
      
      $(articles).each(function (index) {
        
        var newCategory = $(this).attr('data-blog');
        
        if ( newCategory == category ) {
          $(this).slideDown('1000', "easeInQuart").addClass('current');
        }
      });

  });

  $('#section4 .ss-mission-photo li').on('click', function () {
      
      var section = $(this).parents('.span4');
      var category = $(this).attr('data-blog');
      var articles = section.siblings();
      
      // Change Tab BG's
      $(this).siblings('.current').removeClass('current');
      $(this).addClass('current');
    
    // Hide/Show other articles
      section.siblings('.current').removeClass('current').hide();
      
      $(articles).each(function (index) {
        
        var newCategory = $(this).attr('data-blog');
        
        if ( newCategory == category ) {
          $(this).slideDown('1000', "easeInQuart").addClass('current');
        }
      });

  });
  
  
    
  // Waypoints Scrolling
  
  var links = $('.navigation').find('li');
  var button = $('.intro button');
    var section = $('section');
    var mywindow = $(window);
    var htmlbody = $('html,body');

    
    section.waypoint(function (direction) {

        var datasection = $(this).attr('data-section');

        if (direction === 'down') {
            $('.navigation li[data-section="' + datasection + '"]').addClass('active').siblings().removeClass('active');
        }
        else {
          var newsection = parseInt(datasection) - 1;
            $('.navigation li[data-section="' + newsection + '"]').addClass('active').siblings().removeClass('active');
        }

    });
    
    mywindow.scroll(function () {
        if (mywindow.scrollTop() == 0) {
            $('.navigation li[data-section="1"]').addClass('active');
            $('.navigation li[data-section="2"]').removeClass('active');
        }
    });
    
    function goToByScroll(datasection) {
        
        if (datasection == 1) {
          htmlbody.animate({
              scrollTop: $('.section[data-section="' + datasection + '"]').offset().top
          }, 500, 'easeOutQuart');
        }
        else {
          htmlbody.animate({
              scrollTop: $('.section[data-section="' + datasection + '"]').offset().top + 70
          }, 500, 'easeOutQuart');
        }
        
    }

    links.click(function (e) {
        e.preventDefault();
        var datasection = $(this).attr('data-section');
        goToByScroll(datasection);
    });
    
    button.click(function (e) {
        e.preventDefault();
        var datasection = $(this).attr('data-section');
        goToByScroll(datasection);
    });

  
  
    // Snap to scroll (optional)
    
    /*

    section.waypoint(function (direction) {

        var nextpos = $(this).attr('data-section');
        var prevpos = $(this).prev().attr('data-section');

        if (nextpos != 1) {
          if (direction === 'down') {
              htmlbody.animate({
                scrollTop: $('.section[data-section="' + nextpos + '"]').offset().top
            }, 750, 'easeOutQuad');
          }
          else {
              htmlbody.animate({
                scrollTop: $('.section[data-section="' + prevpos + '"]').offset().top
            }, 750, 'easeOutQuad');
          }
        }
        

    }, { offset: '60%' });  
    
    */
   
       
    
    
    // Redirect external links
  
  $("a[rel='external']").click(function(){
    this.target = "_blank";
  });   
  
  
  // Modernizr SVG backup
  
  if(!Modernizr.svg) {
      $('img[src*="svg"]').attr('src', function() {
          return $(this).attr('src').replace('.svg', '.png');
      });
  }    
      
    
    });

    
  </script>
</body>