<body>
  <div id="wrapper">
    <div id="sidebar">
      <a class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
        <!-- <div id="logo"> <a href="/"><img src="img/logo.svg" alt="logo" /></a> </div> -->
        <nav id="nav" class="navigation" role="navigation">
          <ul class="unstyled">
            <li id="faq" data-section"10"><a href="#"><i class="icon-question"></i><span>FAQ</span></a></li>
          </ul>
        </nav><!-- /nav -->        
      </div>      
      <div id="container">        
        <section class="section" id="section1-index" data-section="1">
          <div class="container-fluid"> 
            <div class="row-fluid">
              <div class="span6 intro">
                <hgroup>
                  <h1>Welcome!</h1>
                  <h3>This is the Sooter-Cink wedding page.</h3>
                </hgroup>
                <button class="btn-inverse"><a href="#sign-in-form"></a>
                  Sign <span>In</span>
                  <i class="icon-circle-arrow-down"></i>
                </button>
              </br>
            </br>
                <div id="sign-in-form" class="simple-form" style="display:none;">
                <div class="span8">
                  <div class="row-fluid">
                  <div class="span12">
                  </div><!-- /span12 -->
                </div><!-- /row-fluid -->
                  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>                
                    <%= f.input :email, :autofocus => true %>
                    <%= f.input :password %>
                    <%= f.button :submit, 'Sign In', :class => 'btn-inverse' %>
                  <% end %>
                </div>
              </div>
              </div>
            </div><!-- /row-fluid -->
          </div><!-- /container-fluid --> 
        </section><!-- /section -->
        <%= render 'layouts/faq' %> 
      </div><!-- /container -->
    </div>
    <!-- JAVASCRIPTS -->
</body>
