<body>
  <div id="wrapper">
    <div id="sidebar">
      <a class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
        <!-- <div id="logo"> <a href="/"><img src="img/logo.svg" alt="logo" /></a> </div> -->
        <nav id="nav" class="navigation" role="navigation">
          <ul class="unstyled">
            <li class="active" data-section="1"><i class="icon-home"></i><span>Home</span></li>
            <li id="faq" data-section"10">&nbsp;<i class="icon-question"></i><span>FAQ</span></li>
          </ul>
        </nav><!-- /nav -->        
      </div>      
      <div id="container">        
        <section class="section" id="section1-index" data-section="1">
          <div class="container-fluid"> 
            <div class="row-fluid">
              <div class="alt-image img-circle thumb">
                <img src="assets/WeddingLogo.jpg" class="img-circle blur">
              </div>
              <div class="span6 intro">
                <hgroup>
                  <h1>Welcome!</h1>
                  <h3>This is the Sooter-Cink wedding page.</h3>
                </hgroup>
                <button class="btn-inverse" href="#sign-in-form">
                  Sign <span>In</span>
                  <i class="icon-circle-arrow-down"></i>
                </button>
              </br>
            </br>
                <div id="sign-in-form" class="simple-form" style="display:none;">
                <div class="span8">
                  <div class="row-fluid">
                  <div class="span12">
                  </div><!-- /span12 -->
                </div><!-- /row-fluid -->
                  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>                
                    <%= f.input :email, :autofocus => true, label_html: {style: 'color: #F1F1F1;'} %>
                    <%= f.input :password, label_html: {style: 'color: #F1F1F1;'} %>
                    <%= f.button :submit, 'Sign In', :class => 'btn-inverse' %>
                  <% end %>
                </div>
              </div>
              </div>
            </div><!-- /row-fluid -->
          </div><!-- /container-fluid --> 
        </section><!-- /section -->
        <%= render 'layouts/faq' %> 
      </div><!-- /container -->
    </div>
    <script>
    $(document).ready(function(){
    // Waypoints Scrolling
  
  var links = $('.navigation').find('li');
  var button = $('.intro button');
    var section = $('section');
    var mywindow = $(window);
    var htmlbody = $('html,body');

    
    section.waypoint(function (direction) {

        var datasection = $(this).attr('data-section');

        if (direction === 'down') {
            $('.navigation li[data-section="' + datasection + '"]').addClass('active').siblings().removeClass('active');
        }
        else {
          var newsection = parseInt(datasection) - 1;
            $('.navigation li[data-section="' + newsection + '"]').addClass('active').siblings().removeClass('active');
        }

    });
    
    mywindow.scroll(function () {
        if (mywindow.scrollTop() == 0) {
            $('.navigation li[data-section="1"]').addClass('active');
            $('.navigation li[data-section="2"]').removeClass('active');
        }
    });
    
    function goToByScroll(datasection) {
        
        if (datasection == 1) {
          htmlbody.animate({
              scrollTop: $('.section[data-section="' + datasection + '"]').offset().top
          }, 500, 'easeOutQuart');
        }
        else {
          htmlbody.animate({
              scrollTop: $('.section[data-section="' + datasection + '"]').offset().top + 70
          }, 500, 'easeOutQuart');
        }
        
    }

    links.click(function (e) {
        e.preventDefault();
        var datasection = $(this).attr('data-section');
        goToByScroll(datasection);
    });
    
    button.click(function (e) {
        e.preventDefault();
        var datasection = $(this).attr('data-section');
        goToByScroll(datasection);
    });
    });
    </script>
    <!-- JAVASCRIPTS -->
</body>
