<body>
  <%= render 'layouts/sidebar' %>
     <div id="container">        
        <section class="section" id="section1">
          <div class="container-fluid"> 
            <div class="row-fluid">
	            <div class="row-fluid title">
	              <div class="span3">
	                <h2 id="header-white">Sign In</h2>
	              </div><!-- /span3 -->
	            </div><!-- /row-fluid -->
	            <div class="row-fluid content">
	             <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
			  <%= f.input :email, :autofocus => true %>
			  <%= f.input :password %>
			  <%= f.input :remember_me, :as => :boolean, :wrapper => :inline_checkbox if devise_mapping.rememberable? %>
			  <%= f.button :submit, "Sign in", :class => 'btn-inverse' %>
			  <% end %>
				<div class="span20 hidden-phone">
					<img class="displayed" src="http://i.imgur.com/WeLqWSf.png" alt="Designed by Mark Lawrence | Mobile, Alabama">
				</div>
			</div>
		  </div>
		</section>
	</div>
</div>
</body>
