<body>
  <div id="wrapper">
    <div id="sidebar">
      <a class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
        <!-- <div id="logo"> <a href="/"><img src="img/logo.svg" alt="logo" /></a> </div> -->
        <nav id="nav" class="navigation" role="navigation">
          <ul class="unstyled">
            <li id="faq"><i class="icon-question"></i><span>FAQ</span></li>
          </ul>
        </nav><!-- /nav -->        
      </div>      
     <div id="container">        
        <section class="section" id="section1">
          <div class="container-fluid"> 
            <div class="row-fluid">
	            <div class="row-fluid title">
	              <div class="span3">
	                <h2>Create Account</h2>
	              </div><!-- /span3 -->
	            </div><!-- /row-fluid -->
	            <div class="row-fluid content">
	              <%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
				  <%= devise_error_messages! %>
				  <%= f.hidden_field :invitation_token %>
				  <%= f.input :first_name, :autofocus => true %>
				  <%= f.input :last_name %>
				  <%= f.input :password %>
				  <%= f.input :password_confirmation %>
				  <%= f.input :rsvp_confirmation, :as => :hidden, :input_html => { :value => "2" } %>
				  <%= f.button :submit, "Submit", :class => 'btn-inverse' %>
				<% end %>
				<div class="span20 hidden-phone">
					<img class="displayed" src="http://i.imgur.com/ZzbvZA6.png" alt="The Fish Market | Birmingham">
				</div>
			</div>
		  </div>
		</section>
		<%= render 'layouts/faq' %>
	</div>
</div>
</body>
