<body>
  <div id="wrapper">
    <%= render 'layouts/sidebar' %>      
     <div id="container">        
        <section class="section" id="section1-index">
          <div class="container-fluid"> 
            <div class="row-fluid">
	            <div class="row-fluid title">
	              <div class="span3">
	                <h2 id="header-white">Create Account</h2>
	              </div><!-- /span3 -->
	            </div><!-- /row-fluid -->
	            <div class="row-fluid content">
	              <%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
				  <%= devise_error_messages! %>
				  <%= f.hidden_field :invitation_token %>
				  <%= f.input :first_name, :autofocus => true %>
				  <%= f.input :last_name %>
				  <%= f.input :password %>
				  <%= f.input :password_confirmation %>
				  <%= f.input :rsvp_confirmation, :as => :hidden, :input_html => { :value => "2" } %>
				  <%= f.button :submit, "Submit", :class => 'btn-inverse' %>
				<% end %>
			</div>
		  </div>
		</section>
	</div>
</div>
</body>
