<!DOCTYPE html>
  <html>
  <head>
    <LINK REL="SHORTCUT ICON"
       HREF="/assets/logo.ico">
    <title>Sooter-Cink Wedding</title>
    <meta name="description" content="Custom wedding website for Sooter-Cink Wedding">
    <meta name="author" content="Brad Cink">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8;">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <link rel="stylesheet" href="http://getbootstrap.com/2.3.2/assets/js/google-code-prettify/prettify.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" href="http://bdmdesign.github.io/bootstrap-switch/static/stylesheets/flat-ui-fonts.css">
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"> </script>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
      <%= yield(:head) %>
      <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-44399206-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>
    <body class="<%= controller_name %> <%= action_name %>"></body>
      <div id="wrapper">
        <%= render 'layouts/messages' %>  
        <%= yield %>
      </div>
      <footer id="footer" class="footer hidden-print">
        <div class="container text-center">
          <div>
            Created by <a href="http://instagram.com/bradcink">Brad Cink</a>
          </div>
          <div id="footer-thanks">Many thanks to <a href="http://www.basicoh.com">Carlos Alvarez</a> for a fantastic theme.</div>
        </div>
</footer>
  </html>